* {
    box-sizing: border-box;
}

title {

}

header {

}

body {

}

#subhead {

}

#btns-container {

}

img {

}
#message {
    
}

#guess {
    font-size: 10vmin;
    letter-spacing: 1.8vmin;
}

#letters {
    margin-top: 5vmin;

}

.alpha {

}

#Play-Again {

}
  
