* {
    box-sizing: border-box;
}


body {
    height: 100vh;
    margin-top: 3vmin;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black; 
    background-image: url();
     background-size: 100vh; 
     background-repeat: no-repeat;
}

header {
    font-size: 9vmin;
    color: darkgrey;
    letter-spacing: 1vmin;
    display: flex;
    justify-content: end;
    height: 100vh;
    margin: 3vmin;
    
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subhead {
    
}

img {
    height: 50vh;
    display: 
    animation: shake 2.5s;
    animation-iteration-count: infinite;

}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#message {
    display: flex;
    flex-direction: column;
    justify-self: center;
    /* margin: 3vmin; */
    font-size: 3vmin;
    color: darkgray;
}

#guess {
    font-size: 10vmin;
    font-weight: 900;
    letter-spacing: 1.8vmin;
    color: greenyellow;
}

#letters {
    color: darkgrey;
}

#letters:hover {

}

.alpha {
    justify-self: center;
    height: 4vmin;
    width: 13vmin;
    margin: 1vmin;
    background-color: black;
    color: darkgrey;
    border: .3vmin solid greenyellow;
    border-radius: 3vmin;
    font-size: 3vmin;
    outline: none;
}

.alpha:hover {
    background-color: darkgrey;
    color: black;
}

#Play-Again {
    justify-self: center;
    height: 4vmin;
    width: 17vmin;
    margin: .5vmin;
    background-color: darkgrey;
    color: black;
    border: .3vmin solid greenyellow;
    border-radius: 3vmin;
    font-size: 2vmin;
    outline: none;
}

#Play-Again:hover {
    background-color: black;
    color: darkgrey;
  }
  
